<a href="https://colab.research.google.com/github/ignaciovaldes/inteligencia-artificial-y-aprendizaje-automatico/blob/main/Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science

## Learning Objectives
- What is Python and why it is useful
- The application of Python 
- How to define variables
- Sets and conditional statements in Python
- The purpose of having functions in Python
- How to operate on files to read and write data in Python
- How to use pandas, a must-have package for anyone attempting data analysis in Python

## Module 1 – Python Basics

### Learning Objectives
- Understand the available data types in Python
- Be familiar with Python expressions and variables
- Be able to perform basic operations on strings

### Notes
- Object-oriented
- Python 3

### **Types**
- Integers → 11 (int)
  - type(11) = int
  - -4, -3, -2, -1, 0, 1, 2, 3, 4
- Real numbers → 21.213 (float)
  - type(21.213) = float
  - 0.5, 0.6
– Words → "Hello Python 101" (str)
  - type("Hello Python 101") = str
- Boolean → **T**rue or **F**alse
  - bool(1) = True
  - bool(0) = False

In [ ]:
# The value in the parentheses is called the argument
print("Hello Python 101")

# Print statement
print("Hello\nWorld!")

# print('Hello World!')

Hello Python 101
Hello
World!

In [ ]:
# Type casting to change the type of the expression

float(2)

int(1.1)
int('1')

str(1)
str(4.5)

type(True)
type(False)

int(True)
int(False)

bool(1)
bool(0)

False

In [ ]:
# A **Syntactic** error is when Python does not understand your code
# A **Semantic** error is when your logic is wrong

int('A')

ValueError: ignored

### **Expressions**
- Expressions describe a type of operation that computers perform
- Mathematical Operations
- Numbers → Operands
- Maths symbols → Operators

### **Variables**
- We can use variables to store values

In [ ]:
50 - 60
5 * 5
25 / 5
25 / 6
25 // 6

# Python performs multiplication, then addition to obtain the final result
2 * 60 + 30

# Python performs multiplication, then addition to obtain the final result
30 + 2 * 60

# The expressions in the parentheses are performed first
(30 + 2) * 60

my_variable = 1

x = 160
y = x / 60

type(x)

total_min = 43 + 42 + 57
total_hr = total_min / 60
print(total_hr)

2.3666666666666667

### **Strings**
- Is a sequence of characters
- A string is contained within two quotes or single quotes
- Each element in the sequence can be accessed
- Array
- Index
- Inmutable
- String Operations:
  - Slicing
  - Stride
- String Methods:
  - Upper
  - Replace
  - Find

In [ ]:
Name = "Michael Jackson"
Name[0]
Name[-15]

# Slicing
Name[0:4]

# Stride
Name[::2]
Name[0:5:2]
len(Name)

# Concatenate or combine strings
Statement = Name + " is the best!"
print(Statement)

# Tuples
thistuple = ("apple", "banana", "cherry")
3 * Name
3 * "Michael Jackson "

# Scape sequences
print("Michael Jackson \n is the best!")

print("Michael Jackson \t is the best!")

print("Michael Jackson \\ is the best!")
print(r"Michael Jackson \ is the best!")

# Upper
A = "Thriller is the sixth studio album"
B = A.upper()
print(B)

# Replace
C = Statement.replace("Michael", "Janet")
print(C)

# Find
Name.find("el")

Michael Jackson is the best!
Michael Jackson
 is the best!
Michael Jackson 	 is the best!
Michael Jackson \ is the best!
Michael Jackson \ is the best!
THRILLER IS THE SIXTH STUDIO ALBUM
Janet Jackson is the best!

5

In [ ]:
3 + 2 * 2

name = 'Lizz'
print(name[0:2])

var = '01234567'
print(var[::2])

'1'+'2'

Li
0246

'12'

## Module 2 – Python Data Structures

### Learning Objectives
- Lists and Tuples 
- Sets
- Dictionaries 

### Notes

### **Tuples**
- Ordered sequence
- Inmutable

In [ ]:
Ratings = (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
print(Ratings)

tuple1 = ("disco", 10, 1.2)
print(tuple1)
type(tuple1)

tuple1[0]
tuple1[-3]

tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

tuple2[0:3]
len(tuple2)

RatingsSorted = sorted(Ratings)
print(RatingsSorted)

# Nesting
NT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
NT[2]
NT[2][1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
('disco', 10, 1.2)
('disco', 10, 1.2, 'hard rock', 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

'rock'

### **List**
- Ordered sequence
- Mutable
- A = B (aliasing)

In [ ]:
L = ["Michael Jackson", 10.1, 1982]

# Methods
L.extend(["pop", 10])
print(L)

L.append(["pop", 10])
print(L)

A = ["disco", 10, 1.2]
A[0] = "hard rock"
print(A)

# Command
del(A[0])
print(A)

"hard rock".split()
"A, B, C, D".split(",")

# Aliasing
B = A

# Clone
B = A[:]
print(B)

help(A)

['Michael Jackson', 10.1, 1982, 'pop', 10]
['Michael Jackson', 10.1, 1982, 'pop', 10, ['pop', 10]]
['hard rock', 10, 1.2]
[10, 1.2]
[10, 1.2]
Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### **Sets**
- Type of collection
- Unordered
- Only have unique elements
- Venn diagram usually to represent sets

In [ ]:
Set = {"pop", "rock", "soul"}

# Type-casting
album_list = ["Michael Jackson", "Thriller", "Thriller", 1982]
album_set = set(album_list)
print(album_set)

# Set Operations
A = {"Thriller"}
A.add("AC/DC")
print(A)

A.remove("Thriller")
print(A)

"AC/DC" in A

# Intersaction Operation
album_set_1 = {"AC/DC", "Back in Black", "Thriller"}
album_set_2 = {"AC/DC", "Back in Black", "The Dark Side of the Moon"}
album_set_3 = album_set_1 & album_set_2
print(album_set_3)

album_set_1.union(album_set_2)
print(album_set_1)

album_set_3.issubset(album_set_1)

{'Thriller', 'Michael Jackson', 1982}
{'Thriller', 'AC/DC'}
{'AC/DC'}
{'AC/DC', 'Back in Black'}
{'AC/DC', 'Back in Black', 'Thriller'}

True

In [ ]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

V = S & U
print(V)

{'C', 'A'}

### **Dictionary**
- Index and Element → List
- Key and Element/Values → Dictionary
- Values can be inmutable, mutable and duplicates

In [ ]:
DICT = {"key1" : 1, "key 2" : "2", "key 3" : [3, 3, 3], "key 4" : (4, 4, 4)}

DICT["key1"]

DICT["Graduation"] = "2017"
print(DICT)

del(DICT["key1"])
print(DICT)

"key2" in DICT

DICT.keys()
DICT.values()

{'key1': 1, 'key 2': '2', 'key 3': [3, 3, 3], 'key 4': (4, 4, 4), 'Graduation': '2017'}
{'key 2': '2', 'key 3': [3, 3, 3], 'key 4': (4, 4, 4), 'Graduation': '2017'}

dict_values(['2', [3, 3, 3], (4, 4, 4), '2017'])

In [ ]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

## Module 3 – Python Programming Fundamentals

### Learning Objectives
- Conditions and Branching
- Loops
- Functions
- Objects and Classes

### Notes

### **Conditions and Branching**

**Comparison Operatos**
- Compare some value or operand

**Branching**
- Allows us to run different statements for a different input

In [ ]:
a = 6

# Equality test
a == 7

i = 6
i > 5
i >= 5

a = 2

# Inequality test
a != 6

# The if Statement
age = 18
if (age > 18):
  print("You can enter")
elif (age == 18):
  print("Go see Pink Floyd")
else:
  print("Go see Meat Loaf")
print("Move on")

# Logic Operators
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
  print("The album was made in the 70's or 90's")
else:
  print("The album was made in the 80's")

if(album_year > 1979) and (album_year < 1990):
  print("The album was made in the 80's")
else:
  print("The album was not made in the 80's")

Go see Pink Floyd
Move on
The album was made in the 70's or 90's
The album was not made in the 80'ss

### **Loops**
- for loops
- while loops

In [ ]:
#for loops
squares = ["red", "yellow", "green", "purple", "blue"]
for i in range(0, 5):
  squares[i] = "white"
print(squares)

squares = ["red", "yellow", "green", "purple", "blue"]
for square in squares:
  square
print(square)

squares = ["red", "yellow", "green", "purple", "blue"]
for i, square in enumerate(squares):
  square
  i
print(i)

# while loops
squares = ["orange", "orange", "purple", "blue"]
Newsquares = []
i = 0

while(squares[i] == "orange"):
  Newsquares.append(squares[i])
  i = i + 1
  print(Newsquares)

['white', 'white', 'white', 'white', 'white']
blue
4
['orange']
['orange', 'orange']

In [ ]:
A=[3,4,5]

for a in A:

  print(a)

3
4
5

### **Functions**
- Reuse
- Name of the function
- Formal parameters
- Scope of a variable is the part of the program where that variable is accessible

In [ ]:
# Len
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
L = len(album_ratings)
print(L)

# Sum
S = sum(album_ratings)
print(S)

# Sorted
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
sorted_album_rating = sorted(album_ratings)
print(sorted_album_rating)
print(album_ratings)

# Sort
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
album_ratings.sort()
print(album_ratings)

#Functions
def add1(a):
  """
  Add 1 to a
  """
  b = a + 1
  return b

add1(99)

help(add1)

def Mult(a, b):
  c = a * b
  return c

Mult(2, "Dos ")

def printStuff(Stuff):
  for i, s in enumerate(Stuff):
    print("Album", i, "Rating is ", s)

album_ratings = [10.0, 8.5, 9.5]
printStuff(album_ratings)

# Global Scope
def PinkFloyd():
  global ClaimedSales
  ClaimedSales = "45 million"
  return ClaimedSales

PinkFloyd()
print(ClaimedSales)

8
70.0
[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]
[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]
Help on function add1 in module __main__:

add1(a)
    Add 1 to a

Album 0 Rating is  10.0
Album 1 Rating is  8.5
Album 2 Rating is  9.5
45 million

### **Objects and Classes**
- Data types:
  - int
  - float
  - String
  - List
  - Dictionary
  - Bool
- Each is an **Object**
- A blueprint
- Methods interacting with the object
- Methods are functions that interact and change the data attributes, changing or using the data attributes of the object
- An object is an instance of a particular type
- Sorting is a example of a method that interacts with the data in the object
- Class
  - Instances
    - Objects
- dir(Nameofobject)

In [ ]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
album_ratings.sort()
album_ratings

album_ratings.reverse()
album_ratings

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [ ]:
x=1

if(x!=1):

  print('Hello')

else:

  print('Hi')

print('Mike')

Hi
Mike

In [ ]:
A = ['1','2','3']

for a in A:

 print(2*a)

11
22
33

In [ ]:
def Delta(x):

  if x==0:

    y=1;

  else:

    y=0;

  return(y)

Delta(0)

1

In [ ]:
class Person:

    # no-argument constructor
    def __init__(self):
        self.x = "My_name"
        self.y = "My_Address"

    # a method for printing data members
    def show(self):
        print('Name:', self.x, 'Address:', self.y)

# creating object of the class

obj1 = Person()
obj1.show()

Name: My_name Address: My_Address

## Module 4 – Python Programming Fundamentals

### Learning Objectives
- Reading files with open
- Writing files with open
- Loading data with Pandas
- Working with and Saving data with Pandas

### Notes

### **Open function**
- To create a file object
- To obtain the data from a txt file

In [25]:
# Mode w, r, w, a (appending)
File1 = open("Example.txt", "a")

# Attribute name
File1.name

# Attribute mode
File1.mode

# Attribute close
File1.close()

# with statement
# readlines method to output every line as an element in a list
with open("Example.txt", "r") as File1:
  file_stuff = File1.readlines()
  print(file_stuff)
print(File1.closed)
print(file_stuff)

# readline method to output the first line as an element in a list
with open("Example.txt", "r") as File1:
  file_stuff = File1.readline()
  print(file_stuff)
print(File1.closed)
print(file_stuff)

[]
True
[]

True

### **Writing function**
- To write to files using the open function

In [40]:
File1 = open("Example1.txt", "w")

with open("Example2.txt", "w") as File1:
  File1.write("This is line A\n")
  File1.write("This is line B\n")

<_io.TextIOWrapper name='Example2.txt' mode='w' encoding='UTF-8'>

### **Pandas**
- A popular library for data analysis

In [65]:
import pandas as pd

In [79]:
df = pd.DataFrame({'a' : [11,21,31], 'b' : [21,22,23]})
df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [77]:
df = pd.DataFrame({'a' : [1,2,1], 'b' : [1,1,1]})
df['a'] == 1

0     True
1    False
2     True
Name: a, dtype: bool

In [78]:
df.to_csv("file.csv")

OSError: ignored